<main class="d-flex flex-column justify-content-center align-items-center  " style="height: 100vh;">
  <div class="h-50 w-50">
    <h3 class="bg-primary text-white p-3 text-center"> {{getUser()}} To Do List</h3>
    <div class="input-group d-flex gap-4 my-2">
      <input type="text" #todoText class="form-control ">
      <div class="input-group-append ">
        <button class="btn btn-primary" (click)="AddTodo(todoText.value); todoText.value=''"> Əlavə Et</button>
      </div>
    </div>
    <div class="custom-control custom-checkbox">
      <input class="custom-control-input" [(ngModel)]="isDisplay" type="checkbox" name="" id="display">
      <label class="custom-control-label" for=display>Display All</label>
    </div>

    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Description</th>
          <th scope="col">check</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of getLists(); let i = index">
          <th scope="row">{{i + 1}}</th>
          <td>{{item.description}}</td>
          <td>
            <input type="checkbox" name="" id="" [(ngModel)]="item.action">
          </td>
          <td [ngSwitch]="item.action">
            <span *ngSwitchCase="true">
              yes
            </span>
            <span *ngSwitchCase="false">
              no
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</main>

<router-outlet />